@tailwind base;
@tailwind components;
@tailwind utilities;

/* Colors */
:root {
  /* Light mode Digitec */
  --light-digitec-blue: #00559d;
  --light-digitec-red: #e60021;
  --light-digitec-04-blue: #f5f8fb;
  --ligth-digitec-08-blue: #ebf2f8;
  --light-digitec-16-blue: #d6e4ef;
  --light-digitec-20-blue: #ccddeb;
  --light-digitec-success: #19a33c;
  --light-digitec-error: #e60021;
  --light-digitec-warning: #f2d13a;
  --light-digitec-success-text: #218521;
  --light-digitec-body-copy-primary: #000000;
  --light-digitec-body-copy-secondary: #00000099;
  --light-digitec-body-copy-tertiary: #00000042;
  --light-digitec-page-background: #ffffff;

  /* Light mode Galaxus */
  --light-galaxus-blue: #72c7f9;
  --light-galaxus-blue-small-elements: #48aff0;
  --light-galaxus-blue-text: #007bc7;
  --light-galaxus-blue-link-hover: #004478;
  --light-galaxus-brown: #c4a277;
  --light-galaxus-brown-small-elements: #b89363;
  --light-galaxus-brown-text: #8e694a;
  --light-galaxus-green: #84d160;
  --light-galaxus-green-small-elements: #73c44d;
  --light-galaxus-green-text: #2b8800;
  --light-galaxus-purple: #b384d3;
  --light-galaxus-purple-small-elements: #af79d4;
  --light-galaxus-purple-text: #9353b9;
  --light-galaxus-red: #f67858;
  --light-galaxus-red-small-elements: #e86646;
  --light-galaxus-red-text: #c94125;
  --light-galaxus-yellow: #ffc32d;
  --light-galaxus-yellow-small-elements: #eeb524;
  --light-galaxus-yellow-text: #a36b13;
  --light-galaxus-body-copy-primary: #000000;
  --light-galaxus-body-copy-secondary: #00000099;
  --light-galaxus-body-copy-tertiary: #00000042;
  --light-galaxus-page-background: #ffffff;

  /* Light grays */
  --light-grays-000000: #000000;
  --light-grays-333333: #333333;
  --light-grays-444444: #444444;
  --light-grays-565656: #565656;
  --light-grays-666666: #666666;
  --light-grays-999999: #999999;
  --light-grays-B3B3B3: #b3b3b3;
  --light-grays-DDDDDD: #dddddd;
  --light-grays-EEEEEE: #eeeeee;
  --light-grays-F5F5F5: #f5f5f5;
  --light-grays-FBFBFB: #fbfbfb;
  --light-grays-FDFDFD: #fdfdfd;
  --light-grays-FFFFFF: #ffffff;

  /* Light transparencies */
  --light-transp-black-02: #00000005;
  --light-transp-black-03: #00000008;
  --light-transp-black-05: #0000000d;
  --light-transp-black-10: #0000001a;
  --light-transp-black-20: #00000033;
  --light-transp-black-26: #00000042;
  --light-transp-black-30: #0000004d;
  --light-transp-black-40: #00000066;
  --light-transp-black-50: #00000080;
  --light-transp-black-54: #0000008a;
  --light-transp-black-60: #00000099;
  --light-transp-black-70: #000000b2;
  --light-transp-black-80: #000000cc;
  --light-transp-black-87: #000000de;
  --light-transp-black-90: #000000e5;
  --light-transp-white-10: #ffffff1a;
  --light-transp-white-30: #ffffff4d;
  --light-transp-white-70: #ffffffb2;

  /* Gradients */
  --header-gradient: linear-gradient(to right,
      var(--light-grays-000000) 0%,
      var(--light-grays-000000) 16.66%,
      var(--light-grays-333333) 16.66%,
      var(--light-grays-333333) 33.33%,
      var(--light-grays-444444) 33.33%,
      var(--light-grays-444444) 50%,
      var(--light-grays-565656) 50%,
      var(--light-grays-565656) 66.66%,
      var(--light-grays-666666) 66.66%,
      var(--light-grays-666666) 83.33%,
      var(--light-grays-999999) 83.33%,
      var(--light-grays-999999) 100%);
}

/* Header gradient border */
header {
  border-top: 0.625rem solid;
  border-image: var(--header-gradient) 1;
}

/* Tooltip styling */
.tooltip {
  background-color: var(--light-grays-F5F5F5);
  color: var(--light-galaxus-body-copy-primary);
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
  border-radius: 3px;
  opacity: 1;
  box-shadow: 0px 2px 4px 0px #00000014;
  box-shadow: 0px 0px 2px 0px #00000029;
}